.hero-header {
    overflow: hidden;

    &__image {
        width: 100vw;
        height: 95vh;
        @media screen and (max-width: 375px) {
            height: auto;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            @media screen and (max-width: 375px) {
                width: 375px;
                height: 40%;
            }
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 1;
        /* H1 desktop */
        font-family: Space Mono;
        font-size: 6rem;
        font-weight: 700;
        // line-height: 8.88rem;
        text-align: center;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 3px white;
        @media screen and (max-width: 768px) {
            font-size: 3rem;
            -webkit-text-stroke: 1.5px white;
        }
        @media screen and (max-width: 375px) {
            transform: translate(0%, -30vh);
            font-size: 1.72rem;
            -webkit-text-stroke: 1px white;
        }
    }
}

.photo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-gap: 20px;
        justify-content: center;
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 0fr);
        }
        .related-photo {
            img {
                $default_size: map-get($related-photo-width-height, default);
                width: nth($default_size, 1);
                height: nth($default_size, 2);
                object-fit: cover;
                object-position: unset;
                @media screen and (max-width: 1768px) {
                    width: 564px;
                    height: 494px;
                }
                @media screen and (max-width: 1440px) {
                    width: 500px;
                    height: 440px;
                }

                @media screen and (max-width: 1000px) {
                    width: 317px;
                    height: 278px;
                }
            }
        }
    }

    &__button {
        @include btn-styles();
    }
}

/* -------------------------------------------------------------------------- */
/*                              Selecteur de trie                             */
/* -------------------------------------------------------------------------- */

.selector-container {
    display: flex;
    justify-content: space-around;
    // TODO: A changer :
    padding: 50px 0;

    &__group {
        display: flex;
        gap: 36px;
    }
}
