footer {
    min-height: 80px;
    border-top: 1px solid black;
    padding: 1px 0px 8px 0px;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 86px;

        @media screen and (max-width: 668px) {
            flex-direction: column;
            gap: 24px;
        }
    }

    a {
        @include link-styles(#e00000, #000000, 1rem, uppercase, 2px);
    }
}
